<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322340890332-adimnnc70a2e6pclvuttsl21e03ibee0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322340890332-adimnnc70a2e6pclvuttsl21e03ibee0</string>
	<key>API_KEY</key>
	<string>AIzaSyDZmiDuFzQ3EfL1-XG1zt96e0-DDpJzpI4</string>
	<key>GCM_SENDER_ID</key>
	<string>322340890332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appraisalProject</string>
	<key>PROJECT_ID</key>
	<string>appraisalproject-41a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>appraisalproject-41a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:322340890332:ios:60bbd1d01fa7048c</string>
	<key>DATABASE_URL</key>
	<string>https://appraisalproject-41a5e.firebaseio.com</string>
</dict>
</plist>
